<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ORDER_SUCCESS_TEXT}}</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/resultPage.css"/>
</head>
<body>
	<div class="container">
		<div id="successPage">
			<img class="yowPayLogo" src="assets/image/plugin-logo-full.png"/>
			<h1>{{THANK_YOU_TEXT}}</h1>
			<p class="yowPayInfo">
				<img src="assets/image/ok.png"/>
				{{ORDER_SUCCESS_DETAIL_TEXT}}
			</p>
			<p class="yowPayInfoInstruction">
				{{ORDER_SUCCESS_INSTRUCTION_TEXT}}
			</p>
			<p>
				<a class="yowPayLink" href="/">{{BACK_TO_OUR_SITE_TEXT}}</a>
			</p>
		</div>
	</div>
</body>
</html>
